<!doctype html>
<html lang="en">

<head>
    <title>{{show.title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>

    <div class="container my-3 d-flex justify-content-around">
        <h1 class="display-5 flex-grow-1">TV Show {{show.id}}</h1>
        <a href="/shows">Go Back</a>
    </div>

    <div class="container">
        <div class="d-flex justify-content-start">
            <div class="col-2">
                Title:
            </div>
            <div class="col">
                {{show.title}}
            </div>
        </div>
        <div class="d-flex justify-content-start">
            <div class="col-2">
                Network:
            </div>
            <div class="col">
                {{show.network}}
            </div>
        </div>
        <div class="d-flex justify-content-start">
            <div class="col-2">
                Release Date:
            </div>
            <div class="col">
                {{show.release_date|date:"d F, Y"}}
            </div>
        </div>
        <div class="d-flex justify-content-start">
            <div class="col-2">
                Description
            </div>
            <div class="col">
                {{show.description}}
            </div>
        </div>
    </div>


    <div class="container my-4">
        <div class="d-flex justify-content-start">
            <div class="col-2">
                Last Updated:
            </div>
            <div class="col">
                {{show.updated_at|date:"d F, Y h:i:s A"}}
            </div>
        </div>
        <div class="">
            <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/destroy">Delete</a>
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>