<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{show.title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body>
    <div class="container my-4 d-flex justify-content-evenly align-items-center">
        <h1 class="display-5 text-center flex-grow-1">Edit Show {{show.id}}</h1>
        <a href="/shows" class="align-self-start">Go Back</a>
    </div>
    <div class="container w-50 mx-auto">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible fade show {% if message.tags == 'error' %} alert-danger {% else %} alert-success {% endif %}" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>{{message.tags|capfirst}}</strong> {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <form action="/shows/{{show.id}}/update" method='POST'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" value="{{show.title}}" class="form-control" name="title" required/>
            </div>

            <div class="mb-3 d-flex justify-content-between">
                <div class="col-5">
                    <label for="network" class="form-label">Network</label>
                    <input type="text" value="{{show.network}}" class="form-control" name="network" required/>
                </div>
                <div class="col-5">
                    <label for="release_date" class="form-label">Release Date</label>
                    <input type="date" value="{{show.release_date|date:'Y-m-d'}}" class="form-control" name="release_date" required/>
                </div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="description" rows="3">{{show.description}}</textarea>
            </div>

            <div class="mb-3 d-flex flex-column align-items-center">
                <button type="submit" class="btn btn-white text-dark border border-dark w-25 border-2">Update</button>
                <a href="/shows" class="my-3">Go to Show</a>
            </div>

        </form>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>