<!doctype html>
<html lang="en">

<head>
    <title>View trip</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <div class="container d-flex justify-content-between mt-4 ">
        <div class="container">

            <h1>Hello {{user.fname}}! Read about this trip!</h1>
        </div>

        <div class="container d-flex justify-content-evenly align-items-center">
            <a class="w-25" href="/logout">Log out</a>
            <a href="/dashboard">Dashboard</a>
        </div>

    </div>


    <div class="container mt-4">
        <p>{{trip.destination}}</p>
        <div class="mx-4 border border-3 border-dark w-50">
            <p class="m-4">Start Date: {{trip.start_date|date:'d-m-Y'}}</p>
            <p class="m-4">End Date: {{trip.end_date|date:'d-m-Y'}}</p>
            <p class="m-4">Created On: {{trip.created_at|date:'d-m-Y'}}</p>
            <p class="m-4">Last Updated: {{trip.updated_at|date:'d-m-Y'}}</p>
            <p class="m-4">Plan: {{trip.plan}}</p>
            <p class="m-4">Created By: {{trip.created_by.fname}}</p>
        </div>
    </div>

    <div class="container mt-4">
        <p>People who've joined the trip:</p>
        <div class="mx-4 border border-3 border-dark w-50">
            <ul style="list-style:none;">
                {% for person in trip.joined_the_trip.all %}
                    {% if person != trip.created_by %}
                        <li class="m-4">{{person.fname}}</li>
                    {% endif %}
                {% empty %}
                    <li class="m-4">No one joined the trip</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>